/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

/* Global */
body {
  background-color: #181719;
  color: #ffffff;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1286px;
  margin-left: auto;
  margin-right: auto;
}

/* Menu */

/* Responsive */

/* Web View */

/* Header */
header {
  margin-bottom: 177px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 80px;
}

.logo {
  flex: 3;
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.logo span {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 8px;
}

.menu {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.menu li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

/* Hero Section */
section {
  margin-top: 0;
}

.hero {
  display: flex;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  margin: 0px;
  margin-bottom: 40px;
}

.hero-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 48px;
  width: 70%;
}

.hero-text a {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
}

.hero-text a span{
  vertical-align: middle;
}

.hero-img {
  position: relative;
}

.hero-img-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-card-box {
  position: absolute;
  background: #181719;
  bottom: -78px;
  right: 32px;
  width: 45%;
  padding: 0px 26px 0px 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.intro-image > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.intro-desc {
  margin-left: 15px;
}

.intro-desc h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.intro-desc p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  margin: 0;
}

.hero-card-box-text h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
/* Footer section */
footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
  margin-top: 200px;
}

footer div a {
  text-decoration: none;
  color: #a9a9a9;
}

/* Mobile devices */
@media (max-width: 768px) {
  body {
    padding: 10px 12px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Header */
  header {
    margin-bottom: 38px;
  }

  nav {
    padding: 0;
  }

  .menu {
    display: none;
  }

  /* Section */
  .hero {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-text {
    padding-right: 0;
  }

  .hero-text h1 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 25px;
  }

  .hero-text p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .hero-text a {
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 37px;
  }
  .hero-card-box {
    width: 55%;
  }

  .intro-image > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .intro-desc h4 {
    font-size: 12px;
    line-height: 15px;
  }

  .intro-desc p {
    font-size: 10px;
    line-height: 12px;
  }

  .hero-card-box-text h2 {
    font-size: 18px;
    line-height: 23px;
  }

  /* Footer */

  footer {
    font-size: 12px;
    margin-top: 200px;
  }
}
